# UPS
KERNEL=="hiddev*", ATTRS{manufacturer}=="PPC", ATTRS{product}=="HID UPS", OWNER="root", RUN+="/bin/bash /etc/apcupsd/scripts/run_ups.sh %k $attr{serial}"
#KERNEL=="hiddev*", ATTRS{manufacturer}=="PPC", ATTRS{product}=="HID UPS", OWNER="root", SYMLINK+="usb/$attr{serial}"
