# UPS
KERNEL=="hiddev*", ATTRS{idVendor}=="06da", ATTRS{idProduct}=="ffff", ATTRS{serial}=="SERIAL_1", SYMLINK+="usb/UPS/SERIAL_1"
KERNEL=="hiddev*", ATTRS{idVendor}=="06da", ATTRS{idProduct}=="ffff", ATTRS{serial}=="SERIAL_2", SYMLINK+="usb/UPS/SERIAL_2"
